* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 1400px) {
  nav {
    height: 7rem;
  }
}
nav img {
  margin-left: 2rem;
}

ul li {
  font-size: 1.6rem;
  padding-left: 2rem;
}
@media screen and (min-width: 1400px) {
  ul li {
    font-size: 2.5rem;
    padding-right: 2rem;
  }
}

p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 520;
  font-style: normal;
  text-align: center;
  font-size: 1.8rem;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 520;
  font-style: normal;
  text-align: center;
  font-size: 3rem;
}

h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 520;
  font-style: normal;
  text-align: center;
  font-size: 2.8;
}

h3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 520;
  font-style: normal;
  text-align: center;
  font-size: 1.8rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #0a042e;
  height: 5rem;
}
@media screen and (max-width: 480px) {
  footer {
    height: 4rem;
  }
}
@media screen and (min-width: 1400px) {
  footer {
    height: 7rem;
  }
}
footer h3 {
  color: white;
}
@media screen and (max-width: 480px) {
  footer h3 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  footer h3 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  footer h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  footer h3 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  footer h3 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1400px) {
  footer h3 {
    font-size: 2.5rem;
  }
}

/* --------------------------------------index------------------------------- */
.contenedor {
  display: flex;
  flex-wrap: wrap;
  background-color: #f4e8aa;
  background-size: cover;
  height: auto;
}
@media screen and (max-width: 480px) {
  .contenedor {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .contenedor {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.contenedor .contenedor_imagen {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
@media screen and (max-width: 480px) {
  .contenedor .contenedor_imagen {
    width: 250px;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .contenedor .contenedor_imagen {
    width: 300px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .contenedor .contenedor_imagen {
    width: 400px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .contenedor .contenedor_imagen {
    width: 500px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .contenedor .contenedor_imagen {
    width: 550px;
  }
}
@media screen and (min-width: 1400px) {
  .contenedor .contenedor_imagen {
    width: 700px;
  }
}
.contenedor .cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 50%;
  background-color: #f4e8aa;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  .contenedor .cuerpo {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .contenedor .cuerpo {
    width: 100%;
  }
}
@keyframes Titulo {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.95, 0.95);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  75% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
.contenedor .cuerpo h1 {
  font-weight: 520;
  margin-top: 1.2rem;
  animation-name: Titulo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 480px) {
  .contenedor .cuerpo h1 {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .contenedor .cuerpo h1 {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .contenedor .cuerpo h1 {
    font-size: 3.3rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .contenedor .cuerpo h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .contenedor .cuerpo h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .contenedor .cuerpo h1 {
    font-size: 6rem;
    padding-top: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .contenedor .cuerpo p {
    font-size: 1.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .contenedor .cuerpo p {
    font-size: 1.6rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .contenedor .cuerpo p {
    font-size: 1.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .contenedor .cuerpo p {
    font-size: 2.22rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .contenedor .cuerpo p {
    font-size: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .contenedor .cuerpo p {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    font-size: 3.3rem;
  }
}

/* ---------------------------------rayo-violeta---------------------------- */
#rayo-azul-violeta {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 480px) {
  #rayo-azul-violeta {
    display: block;
  }
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
@media screen and (max-width: 480px) {
  article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-image: url(../assets/flovida.jpeg);
    background-position: center;
    background-size: cover;
  }
  article .shanta {
    display: none;
  }
  article h3 {
    display: none;
  }
  article .omm {
    display: none;
  }
}

aside {
  background-color: #f4e8aa;
  background-size: cover;
  width: 50%;
}
@media screen and (max-width: 480px) {
  aside {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }
}

.migue {
  max-width: 330px;
  border-radius: 15%;
}
@media screen and (max-width: 480px) {
  .migue {
    width: 150px;
    height: 250px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 25%;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .migue {
    width: 120px;
    height: 180px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .migue {
    width: 170px;
    height: 270px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .migue {
    width: 250px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .migue {
    width: 260px;
    height: 360px;
    margin-bottom: 1rem;
  }
}

.shanta {
  max-width: 330px;
  border-radius: 100%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .shanta {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .shanta {
    width: 170px;
    height: 170px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .shanta {
    width: 240px;
    height: 240px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .shanta {
    width: 260px;
    height: 260px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.kwan {
  max-width: 330px;
  border-radius: 15%;
}
@media screen and (max-width: 480px) {
  .kwan {
    width: 150px;
    height: 250px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 25%;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .kwan {
    width: 120px;
    height: 180px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .kwan {
    width: 170px;
    height: 270px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .kwan {
    width: 250px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .kwan {
    width: 260px;
    height: 360px;
    margin-bottom: 1rem;
  }
}

.omm {
  max-width: 330px;
  border-radius: 100%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .omm {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .omm {
    width: 170px;
    height: 170px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .omm {
    width: 240px;
    height: 240px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .omm {
    width: 260px;
    height: 260px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

#rayo-azul-violeta h1 {
  padding-top: 1rem;
}
@media screen and (max-width: 480px) {
  #rayo-azul-violeta h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-azul-violeta h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-azul-violeta h1 {
    font-size: 5rem;
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  #rayo-azul-violeta h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-azul-violeta h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rayo-azul-violeta h2 {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-azul-violeta h2 {
    font-size: 3.6rem;
    padding-bottom: 4px;
  }
}

#rayo-azul-violeta h3 {
  padding-top: 1rem;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-azul-violeta h3 {
    font-size: 1.2;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  #rayo-azul-violeta h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rayo-azul-violeta h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-azul-violeta h3 {
    font-size: 2.7rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}

#rayo-azul-violeta p {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.77rem;
}
@media screen and (max-width: 480px) {
  #rayo-azul-violeta p {
    font-size: 1.2;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-azul-violeta p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  #rayo-azul-violeta p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rayo-azul-violeta p {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-azul-violeta p {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    font-size: 2.5rem;
  }
}

/* ------------------------------rayo-verde-rosa------------------------------ */
#rayo-verde-rosa {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 480px) {
  #rayo-verde-rosa {
    display: block;
  }
}

article {
  background-image: url(../assets/rayosdeluz.jpeg);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  article {
    width: 100%;
    background-image: url(../assets/flovida.jpeg);
    background-position: center;
    background-size: cover;
  }
  article .sanea {
    display: none;
  }
  article h3 {
    display: none;
  }
  article .atae {
    display: none;
  }
}

.rafa {
  max-width: 330px;
  border-radius: 15%;
}
@media screen and (max-width: 480px) {
  .rafa {
    width: 150px;
    height: 250px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 25%;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .rafa {
    width: 120px;
    height: 180px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .rafa {
    width: 170px;
    height: 270px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .rafa {
    width: 250px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .rafa {
    width: 260px;
    height: 360px;
    margin-bottom: 1rem;
  }
}

.sanea {
  max-width: 330px;
  border-radius: 100%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .sanea {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .sanea {
    width: 170px;
    height: 170px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .sanea {
    width: 240px;
    height: 240px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .sanea {
    width: 260px;
    height: 260px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.chamu {
  max-width: 330px;
  border-radius: 15%;
}
@media screen and (max-width: 480px) {
  .chamu {
    width: 150px;
    height: 250px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 25%;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .chamu {
    width: 120px;
    height: 180px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .chamu {
    width: 170px;
    height: 270px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .chamu {
    width: 250px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .chamu {
    width: 260px;
    height: 360px;
    margin-bottom: 1rem;
  }
}

.atae {
  max-width: 330px;
  border-radius: 100%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .atae {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .atae {
    width: 170px;
    height: 170px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .atae {
    width: 240px;
    height: 240px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .atae {
    width: 260px;
    height: 260px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

#rayo-verde-rosa h1 {
  padding-top: 1rem;
}
@media screen and (max-width: 480px) {
  #rayo-verde-rosa h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-verde-rosa h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-verde-rosa h1 {
    font-size: 5rem;
    padding-top: 2.5rem;
  }
}

#rayo-verde-rosa h2 {
  margin-right: 2rem;
  margin-left: 2rem;
}
@media screen and (max-width: 480px) {
  #rayo-verde-rosa h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-verde-rosa h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  #rayo-verde-rosa h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rayo-verde-rosa h2 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-verde-rosa h2 {
    font-size: 3.6rem;
    padding-bottom: 4px;
  }
}

#rayo-verde-rosa h3 {
  padding-top: 1rem;
}
@media screen and (max-width: 480px) {
  #rayo-verde-rosa h3 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-verde-rosa h3 {
    font-size: 1.3;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  #rayo-verde-rosa h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rayo-verde-rosa h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-verde-rosa h3 {
    font-size: 2.7rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}

#rayo-verde-rosa p {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.77rem;
}
@media screen and (max-width: 480px) {
  #rayo-verde-rosa p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-verde-rosa p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  #rayo-verde-rosa p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rayo-verde-rosa p {
    font-size: 1.95rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-verde-rosa p {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    font-size: 2.6rem;
  }
}

/* ---------------------------------rayo-oro-rubi------------------------ */
#rayo-oro-rubi {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 480px) {
  #rayo-oro-rubi {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  article {
    width: 100%;
    background-image: url(../assets/flovida.jpeg);
    background-position: center;
    background-size: cover;
  }
  article .uri {
    display: none;
  }
  article .telai {
    display: none;
  }
  article h3 {
    display: none;
  }
  article .halai {
    display: none;
  }
}

.uri {
  max-width: 330px;
  border-radius: 15%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .uri {
    width: 120px;
    height: 180px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .uri {
    width: 170px;
    height: 270px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .uri {
    width: 250px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .uri {
    width: 260px;
    height: 360px;
    margin-bottom: 1rem;
  }
}

.uriel {
  max-width: 330px;
  border-radius: 15%;
}
@media screen and (max-width: 480px) {
  .uriel {
    width: 150px;
    height: 250px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 25%;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .uriel {
    width: 120px;
    height: 180px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .uriel {
    width: 170px;
    height: 270px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .uriel {
    width: 250px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .uriel {
    width: 260px;
    height: 360px;
    margin-bottom: 1rem;
  }
}

.telai {
  max-width: 330px;
  border-radius: 100%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .telai {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .telai {
    width: 170px;
    height: 170px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .telai {
    width: 240px;
    height: 240px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .telai {
    width: 260px;
    height: 260px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.halai {
  max-width: 330px;
  border-radius: 100%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .halai {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .halai {
    width: 170px;
    height: 170px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .halai {
    width: 240px;
    height: 240px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .halai {
    width: 260px;
    height: 260px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

#rayo-oro-rubi h1 {
  padding-top: 1rem;
}
@media screen and (max-width: 480px) {
  #rayo-oro-rubi h1 {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-oro-rubi h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rayo-oro-rubi h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-oro-rubi h1 {
    font-size: 5rem;
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  #rayo-oro-rubi h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-oro-rubi h2 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  #rayo-oro-rubi h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rayo-oro-rubi h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-oro-rubi h2 {
    font-size: 3.6rem;
    padding-bottom: 4px;
  }
}

#rayo-oro-rubi h3 {
  padding-top: 1rem;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-oro-rubi h3 {
    font-size: 1.4;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  #rayo-oro-rubi h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  #rayo-oro-rubi h3 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rayo-oro-rubi h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-oro-rubi h3 {
    font-size: 2.7rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}

#rayo-oro-rubi p {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.7rem;
}
@media screen and (max-width: 480px) {
  #rayo-oro-rubi p {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  #rayo-oro-rubi p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  #rayo-oro-rubi p {
    font-size: 1.35rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rayo-oro-rubi p {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1400px) {
  #rayo-oro-rubi p {
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: 2.58rem;
  }
}

/* ---------------------------------contacto-------------------------- */
.container-contacto {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .container-contacto {
    display: block;
  }
}

.costillas {
  background-color: #f4e8aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
@media screen and (max-width: 480px) {
  .costillas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-image: url(../assets/flovida.jpeg);
    background-position: center;
    background-size: cover;
  }
  .costillas .mikael {
    display: none;
  }
  .costillas h3 {
    display: none;
  }
  .costillas .elementos {
    display: none;
  }
  .costillas .cristal {
    display: none;
  }
}

.iam {
  background-image: url(../assets/rayosdeluz.jpeg);
  background-position: center;
  background-size: cover;
  width: 50%;
}
@media screen and (max-width: 480px) {
  .iam {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }
}
.iam form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.mikael {
  max-width: 330px;
  border-radius: 15%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .mikael {
    width: 120px;
    height: 180px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .mikael {
    width: 170px;
    height: 270px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .mikael {
    width: 240px;
    height: 350px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .mikael {
    width: 260px;
    height: 370px;
  }
}
@media screen and (min-width: 1400px) {
  .mikael {
    width: 330px;
    height: 400px;
    margin-bottom: 3rem;
  }
}

.elementos {
  border-radius: 10%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .elementos {
    width: 120px;
    height: 180px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .elementos {
    width: 170px;
    height: 270px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .elementos {
    width: 240px;
    height: 350px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .elementos {
    width: 260px;
    height: 370px;
  }
}
@media screen and (min-width: 1400px) {
  .elementos {
    width: 330px;
    height: 400px;
    margin-bottom: 3rem;
  }
}

.cristal {
  max-width: 330px;
  border-radius: 15%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .cristal {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .cristal {
    width: 170px;
    height: 170px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .cristal {
    width: 240px;
    height: 240px;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .cristal {
    width: 260px;
    height: 260px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .cristal {
    margin-bottom: 5rem;
  }
}

.metatron {
  max-width: 330px;
  border-radius: 15%;
}
@media screen and (max-width: 480px) {
  .metatron {
    width: 250px;
    height: 250px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .metatron {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .metatron {
    width: 170px;
    height: 170px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .metatron {
    width: 240px;
    height: 240px;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .metatron {
    width: 260px;
    height: 260px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .metatron {
    margin-bottom: 5rem;
  }
}

.container-contacto h1 {
  padding-top: 1rem;
}
@media screen and (max-width: 480px) {
  .container-contacto h1 {
    font-size: 2.6rem;
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .container-contacto h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .container-contacto h1 {
    font-size: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container-contacto h1 {
    font-size: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1400px) {
  .container-contacto h1 {
    font-size: 5rem;
    padding-top: 2.5rem;
  }
}

.container-contacto h3 {
  padding-top: 1rem;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .container-contacto h3 {
    font-size: 1.4;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .container-contacto h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .container-contacto h3 {
    padding-top: 2rem;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container-contacto h3 {
    padding-top: 2rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .container-contacto h3 {
    font-size: 2.7rem;
    margin-top: 2rem;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  .container-contacto p {
    font-size: 1.7rem;
    font-weight: 540;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .container-contacto p {
    font-size: 1.1rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
  .container-contacto p {
    font-size: 1.7rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .container-contacto p {
    margin-right: 5rem;
    margin-left: 5rem;
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container-contacto p {
    margin-right: 5rem;
    margin-left: 5rem;
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1400px) {
  .container-contacto p {
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: 3.5rem;
  }
}

.wsp {
  background-color: rgb(10, 204, 10);
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  animation-name: moverBoton;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  .wsp {
    width: 10rem;
    height: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .wsp {
    width: 12rem;
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .wsp {
    width: 12rem;
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  .wsp {
    width: 16rem;
    height: 5rem;
    font-size: 2.1rem;
    font-weight: 500;
    margin-top: 1rem;
    border-radius: 5%;
  }
}

@keyframes moverBoton {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  75% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}/*# sourceMappingURL=styles.css.map */