* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

nav img {
  margin-left: 2rem;
}

ul li {
  font-size: 1.6rem;
  padding-left: 2rem;
}

p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.6rem;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 3rem;
}

h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 520;
  font-style: normal;
  text-align: center;
  font-size: 2.8;
}

h3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 1.5rem;
}

/* --------------------------------------index------------------------------- */
main {
  display: flex;
}
@media screen and (max-width: 575px) {
  main {
    width: 575px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  main {
    width: 767px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  main {
    width: 991px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  main {
    width: 1199px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  main {
    width: 1400px;
  }
}
main div img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 575px) {
  main div img {
    display: none;
  }
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/shantaena77.png);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 575px) {
  main section {
    display: block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  main section {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  main section {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  main section {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  main section {
    width: 64%;
  }
}
@keyframes Titulo {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1.15, 1.15);
  }
  75% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
main section h1 {
  font-weight: 520;
  margin-top: 1rem;
  animation-name: Titulo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 575px) {
  main section h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  main section h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  main section h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  main section h1 {
    font-size: 3.7rem;
    margin-top: 1.2rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  main section h1 {
    font-size: 4.4rem;
  }
}
main section p {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
  font-weight: 530;
}
@media screen and (max-width: 575px) {
  main section p {
    font-size: 1.85rem;
    font-weight: 540;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  main section p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  main section p {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  main section p {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  main section p {
    font-size: 2.65rem;
  }
}

footer {
  background-color: #0a042e;
  height: 3.5rem;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  footer {
    height: 4rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    height: 5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  footer {
    height: 5rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  footer {
    height: 6rem;
  }
}
footer h3 {
  color: white;
  padding: 1rem;
  font-size: 1.3rem;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  footer h3 {
    padding: 1.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer h3 {
    font-size: 1.6rem;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  footer h3 {
    font-size: 2rem;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  footer h3 {
    font-size: 2rem;
    padding: 2rem;
  }
}

/* ---------------------------------rayo-violeta---------------------------- */
#rayo-azul-violeta {
  display: flex;
}
@media screen and (max-width: 575px) {
  #rayo-azul-violeta {
    display: block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-azul-violeta {
    width: 767px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-azul-violeta {
    width: 991px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #rayo-azul-violeta {
    width: 1199px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-azul-violeta {
    width: 1400px;
  }
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
@media screen and (max-width: 575px) {
  article {
    width: 575px;
    background-image: url(../assets/flovida.jpeg);
    background-position: center;
    background-size: cover;
  }
  article .shanta {
    display: none;
  }
  article h3 {
    display: none;
  }
  article .omm {
    display: none;
  }
}

aside {
  background-image: url(../assets/alas.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
}
@media screen and (max-width: 575px) {
  aside {
    width: 575px;
    height: 670px;
  }
}

.migue {
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (max-width: 575px) {
  .migue {
    width: 350px;
    height: 450px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .migue {
    width: 150px;
    height: 250px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .migue {
    width: 200px;
    height: 300px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .migue {
    width: 247px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .migue {
    width: 247px;
    height: 350px;
  }
}

@media screen and (max-width: 575px) {
  .shanta {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .shanta {
    width: 154px;
    height: 166px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .shanta {
    width: 204px;
    height: 216px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .shanta {
    width: 264px;
    height: 276px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .shanta {
    width: 264px;
    height: 276px;
  }
}

.kwan {
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (max-width: 575px) {
  .kwan {
    width: 350px;
    height: 450px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .kwan {
    width: 150px;
    height: 250px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .kwan {
    width: 200px;
    height: 300px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .kwan {
    width: 247px;
    height: 344px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .kwan {
    width: 247px;
    height: 344px;
  }
}

@media screen and (max-width: 575px) {
  .omm {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .omm {
    width: 154px;
    height: 166px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .omm {
    width: 204px;
    height: 216px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .omm {
    width: 264px;
    height: 276px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .omm {
    width: 264px;
    height: 276px;
  }
}

#rayo-azul-violeta h1 {
  padding-top: 1rem;
}
@media screen and (max-width: 575px) {
  #rayo-azul-violeta h1 {
    font-size: 2.2rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-azul-violeta h1 {
    font-size: 2.2rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-azul-violeta h1 {
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  #rayo-azul-violeta h2 {
    font-size: 1.8rem;
    font-weight: 525;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-azul-violeta h2 {
    font-size: 1.8rem;
  }
}

#rayo-azul-violeta h3 {
  padding-top: 1rem;
}
@media screen and (max-width: 575px) {
  #rayo-azul-violeta h3 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-azul-violeta h3 {
    font-size: 1.2;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-azul-violeta h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #rayo-azul-violeta h3 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-azul-violeta h3 {
    font-size: 2rem;
  }
}

#rayo-azul-violeta p {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
@media screen and (max-width: 575px) {
  #rayo-azul-violeta p {
    font-size: 1.2;
    font-weight: 525;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-azul-violeta p {
    font-size: 1.1rem;
    font-weight: 525;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-azul-violeta p {
    font-size: 1.37rem;
    font-weight: 540;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #rayo-azul-violeta p {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-azul-violeta p {
    font-size: 1.73rem;
    padding-top: 5px;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

/* ------------------------------rayo-verde-rosa------------------------------ */
#rayo-verde-rosa {
  display: flex;
}
@media screen and (max-width: 575px) {
  #rayo-verde-rosa {
    display: block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-verde-rosa {
    width: 767px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-verde-rosa {
    width: 991px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #rayo-verde-rosa {
    width: 1199px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-verde-rosa {
    width: 1400px;
  }
}

@media screen and (max-width: 575px) {
  article {
    width: 575px;
    background-image: url(../assets/flovida.jpeg);
    background-position: center;
    background-size: cover;
  }
  article .sanea {
    display: none;
  }
  article h3 {
    display: none;
  }
  article .atae {
    display: none;
  }
}

.rafa {
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (max-width: 575px) {
  .rafa {
    width: 350px;
    height: 450px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .rafa {
    width: 150px;
    height: 250px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .rafa {
    width: 200px;
    height: 300px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .rafa {
    width: 247px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .rafa {
    width: 247px;
    height: 350px;
  }
}

@media screen and (max-width: 575px) {
  .sanea {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .sanea {
    width: 154px;
    height: 166px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sanea {
    width: 204px;
    height: 216px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .sanea {
    width: 264px;
    height: 276px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .sanea {
    width: 264px;
    height: 276px;
  }
}

.chamu {
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (max-width: 575px) {
  .chamu {
    width: 350px;
    height: 450px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .chamu {
    width: 150px;
    height: 250px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .chamu {
    width: 200px;
    height: 300px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .chamu {
    width: 247px;
    height: 344px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .chamu {
    width: 247px;
    height: 344px;
  }
}

@media screen and (max-width: 575px) {
  .atae {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .atae {
    width: 154px;
    height: 166px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .atae {
    width: 204px;
    height: 216px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .atae {
    width: 264px;
    height: 276px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .atae {
    width: 264px;
    height: 276px;
  }
}

#rayo-verde-rosa h1 {
  padding-top: 1rem;
}
@media screen and (max-width: 575px) {
  #rayo-verde-rosa h1 {
    font-size: 2.4rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-verde-rosa h1 {
    font-size: 2.2rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-verde-rosa h1 {
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  #rayo-verde-rosa h2 {
    font-size: 2rem;
    font-weight: 525;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-verde-rosa h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-verde-rosa h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-verde-rosa h2 {
    font-size: 2.2rem;
  }
}

#rayo-verde-rosa h3 {
  padding-top: 1rem;
}
@media screen and (max-width: 575px) {
  #rayo-verde-rosa h3 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-verde-rosa h3 {
    font-size: 1.2;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-verde-rosa h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #rayo-verde-rosa h3 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-verde-rosa h3 {
    font-size: 2rem;
  }
}

#rayo-verde-rosa p {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
@media screen and (max-width: 575px) {
  #rayo-verde-rosa p {
    font-size: 1.67rem;
    font-weight: 525;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-verde-rosa p {
    font-size: 1.1rem;
    font-weight: 525;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-verde-rosa p {
    font-size: 1.44rem;
    font-weight: 540;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #rayo-verde-rosa p {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-verde-rosa p {
    font-size: 1.85rem;
    font-weight: 540;
  }
}

/* ---------------------------------rayo-oro-rubi------------------------ */
#rayo-oro-rubi {
  display: flex;
}
@media screen and (max-width: 575px) {
  #rayo-oro-rubi {
    display: block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-oro-rubi {
    width: 767px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-oro-rubi {
    width: 991px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #rayo-oro-rubi {
    width: 1199px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-oro-rubi {
    width: 1400px;
  }
}

@media screen and (max-width: 575px) {
  article {
    width: 575px;
    background-image: url(../assets/flovida.jpeg);
    background-position: center;
    background-size: cover;
  }
  article .telai {
    display: none;
  }
  article h3 {
    display: none;
  }
  article .halai {
    display: none;
  }
}

.uri {
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (max-width: 575px) {
  .uri {
    width: 350px;
    height: 450px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .uri {
    width: 150px;
    height: 250px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .uri {
    width: 200px;
    height: 300px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .uri {
    width: 247px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .uri {
    width: 247px;
    height: 350px;
  }
}

@media screen and (max-width: 575px) {
  .telai {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .telai {
    width: 154px;
    height: 166px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .telai {
    width: 204px;
    height: 216px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .telai {
    width: 264px;
    height: 276px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .telai {
    width: 264px;
    height: 276px;
  }
}

@media screen and (max-width: 575px) {
  .halai {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .halai {
    width: 154px;
    height: 166px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .halai {
    width: 204px;
    height: 216px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .halai {
    width: 264px;
    height: 276px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .halai {
    width: 264px;
    height: 276px;
  }
}

#rayo-oro-rubi h1 {
  padding-top: 1rem;
}
@media screen and (max-width: 575px) {
  #rayo-oro-rubi h1 {
    font-size: 2.4rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-oro-rubi h1 {
    font-size: 2.2rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-oro-rubi h1 {
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  #rayo-oro-rubi h2 {
    font-size: 2rem;
    font-weight: 525;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-oro-rubi h2 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-oro-rubi h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-oro-rubi h2 {
    font-size: 2.2rem;
  }
}

#rayo-oro-rubi h3 {
  padding-top: 1rem;
}
@media screen and (max-width: 575px) {
  #rayo-oro-rubi h3 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-oro-rubi h3 {
    font-size: 1.2;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-oro-rubi h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #rayo-oro-rubi h3 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-oro-rubi h3 {
    font-size: 2rem;
  }
}

#rayo-oro-rubi p {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
@media screen and (max-width: 575px) {
  #rayo-oro-rubi p {
    font-size: 1.6rem;
    font-weight: 525;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #rayo-oro-rubi p {
    font-size: 1.1rem;
    font-weight: 525;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rayo-oro-rubi p {
    font-size: 1.35rem;
    font-weight: 540;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #rayo-oro-rubi p {
    font-size: 1.67rem;
    font-weight: 540;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #rayo-oro-rubi p {
    font-size: 1.85rem;
    font-weight: 540;
  }
}

/* ---------------------------------contacto-------------------------- */
.corpo {
  background-image: url(../assets/shantaena77.png);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 575px) {
  .corpo {
    width: 575px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .corpo {
    width: 383px;
    height: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .corpo {
    width: 494px;
    height: 360px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .corpo {
    width: 599px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .corpo {
    width: 700px;
    height: 450px;
  }
}
@media screen and (max-width: 575px) {
  .corpo h1 {
    font-size: 2.5rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .corpo h1 {
    font-size: 2.5rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .corpo h1 {
    font-size: 2.5rem;
    padding-top: 1.2rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .corpo h1 {
    padding-top: 1.4rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .corpo h1 {
    padding-top: 1.5rem;
  }
}
.corpo p {
  font-weight: 550;
}
@media screen and (max-width: 575px) {
  .corpo p {
    font-size: 1.4rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .corpo p {
    font-size: 1.4rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .corpo p {
    font-size: 1.35rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .corpo p {
    font-size: 1.55rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .corpo p {
    font-size: 1.9rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.corpo form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .mikael {
    height: 260px;
    width: 190px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mikael {
    height: 340px;
    width: 245px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .mikael {
    height: 400px;
    width: 296.5px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .mikael {
    height: 450px;
    width: 346.5px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .luzbel {
    height: 260px;
    width: 180px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .luzbel {
    height: 340px;
    width: 236px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .luzbel {
    height: 400px;
    width: 288px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .luzbel {
    height: 450px;
    width: 338px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .cristal {
    height: 190px;
    width: 190px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .cristal {
    height: 250px;
    width: 245px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .cristal {
    height: 300px;
    width: 296.5px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .cristal {
    height: 350px;
    width: 346.5px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .elementos {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .elementos {
    height: 200px;
    width: 494px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .elementos {
    height: 290px;
    width: 599px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .elementos {
    height: 330px;
    width: 700px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .metatron {
    height: 190px;
    width: 180px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .metatron {
    height: 250px;
    width: 236px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .metatron {
    height: 300px;
    width: 288px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .metatron {
    height: 350px;
    width: 338px;
  }
}

@keyframes moverBoton {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  75% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
.wsp {
  background-color: rgb(10, 204, 10);
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  animation-name: moverBoton;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 575px) {
  .wsp {
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .wsp {
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .wsp {
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .wsp {
    width: 10rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .wsp {
    width: 11rem;
    height: 3.3rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.container-xs-sm-md-xl-xxl {
  background-color: black;
}

@media screen and (max-width: 575px) {
  .col-3 {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */